.filter-container {
  max-width: 960px;
  width: 100%;
  margin: 10px 0 10px 0;
  height: 130px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  color: var(--grey-light-color);
}

.filter-select__control {
  height: 50px;
  width: 270px;
  color: var(--grey-light-color) !important;
  font-size: 1em;
}

.filter-select__single-value {
  color: var(--grey-light-color) !important;
}

.filter-select__placeholder {
  color: var(--grey-light-color) !important;
}

.filter-select__indicator-separator {
  display: none;
}
