.total-sales-container {
  max-width: 960px;
  width: 100%;
  padding: 40px 15px 60px 15px;
}

.total-sales-amount {
  margin-bottom: 50px;
}

.total-sales-amount h1 {
  font-size: 2.25em;
}

.total-sales-amount h4 {
  font-size: 1.15em;
  font-weight: 400;
  color: var(--grey-light-color);
}

.total-sales-chart {
  display: flex;
  justify-content: center;
}

.apexcharts-legend.apexcharts-align-center {
  flex-direction: column;
  align-items: center;
}
